<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318214851033-mgvi4l84m3p9572o8lq9dm128e25s2h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318214851033-mgvi4l84m3p9572o8lq9dm128e25s2h5</string>
	<key>API_KEY</key>
	<string>AIzaSyDUkU8HVYggKWmeE5mZ2di_ToAQBVgHBtg</string>
	<key>GCM_SENDER_ID</key>
	<string>318214851033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atilacosta.uberHackTeam4App</string>
	<key>PROJECT_ID</key>
	<string>uber-hackathon-eb690</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-hackathon-eb690.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318214851033:ios:57288b1de8df50e2</string>
	<key>DATABASE_URL</key>
	<string>https://uber-hackathon-eb690.firebaseio.com</string>
</dict>
</plist>